<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

    </div>
</div>

<script>
    layui.use(['form', 'table','miniPage','element'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            miniPage = layui.miniPage;
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        table.render({
            elem: '#currentTableId',
            url: '/classification/classificationList',
            toolbar: '#toolbarDemo',
            cols: [
                [
                    {field: 'classificationId', title: '垃圾分类编号',align: 'center', sort: true},
                    {field: 'classificationName', align: 'center', title: '垃圾分类名称'},
                    {field: 'typeName', align: 'center', title: '类型'},
                ]
            ],
            id: 'currentTableId',
            page: true
        });

    });
</script>