<html xmlns:th="http://www.thymeleaf.org">
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

    <form id="form1" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">投&nbsp;&nbsp;&nbsp;&nbsp;诉：</label>
            <div class="layui-input-block">
                <input type="text" id="complainTitle" name="complainTitle" placeholder="请输入要投诉的事件" lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内&nbsp;&nbsp;&nbsp;&nbsp;容：</label>
            <div class="layui-input-block">
                <input type="text" id="complainContent" name="complainContent" placeholder="请输入要投诉的内容" lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center; width:100%;height:100%;margin:0px;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="sub">投&nbsp;&nbsp;&nbsp;&nbsp;诉</button>
        </div>
    </form>
    </div>
</div>
</html>
<script>
    layui.use(['form','jquery'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "POST",//方法类型
                contentType: 'application/json',
                url: "/complain/addComplain" ,//url
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (data) {
                    if (data.status=="SUCCESS"){
                        layer.msg('投诉申请中！');
                    }
                    $('#complainTitle').val('');
                    $('#complainContent').val('');
                },
                error : function() {
                    layer.msg('异常！');
                }
            });
            return false;
        });
    });
</script>