<html xmlns:th="http://www.thymeleaf.org">
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">

    <form id="form1" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">车牌号：</label>
            <div class="layui-input-block">
                <input type="text" id="transportCar" name="transportCar" placeholder="请输入车牌号" lay-verify="required" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">份&nbsp;&nbsp;&nbsp;&nbsp;量：</label>
            <div class="layui-input-block">
                <input type="text" id="transportWeight" name="transportWeight" placeholder="请输入运输份量" lay-verify="required|number" autocomplete="off"  class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">小区名：</label>
            <div class="layui-input-block">
                <select lay-verify="required" id="communityName" name="communityName">
                    <option th:each="c : ${community}" th:value="${c.getCommunityName()}" th:text="${c.getCommunityName()}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">垃圾站：</label>
            <div class="layui-input-block">
                <select lay-verify="required" id="stationName" name="stationName">
                    <option th:each="s : ${station}" th:value="${s.getStationName()}" th:text="${s.getStationName()}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类&nbsp;&nbsp;&nbsp;&nbsp;型：</label>
            <div class="layui-input-block">
                <select lay-verify="required" id="classificationType" name="classificationType">
                    <option th:each="f : ${classification}" th:value="${f.getClassificationName()}" th:text="${f.getClassificationName()}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align:center; width:100%;height:100%;margin:0px;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="sub">添&nbsp;&nbsp;&nbsp;&nbsp;加</button>
        </div>
    </form>
    </div>
</div>
</html>
<script>
    layui.use(['form','jquery'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer;
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();
        form.on('submit(sub)', function (data) {
            $.ajax({
                type: "POST",//方法类型
                contentType: 'application/json',
                url: "/transport/addTransport" ,//url
                data: JSON.stringify(data.field),
                dataType: "json",
                success: function (data) {
                    if (data.status=="SUCCESS"){
                        layer.msg('运输记录新增成功！');
                    }
                    $('#transportCar').val('');
                    $('#transportWeight').val('');
                },
                error : function() {
                    layer.msg('异常！');
                }
            });
            return false;
        });
    });
</script>